{
    "extends": "airbnb",
    
    "env": {
      "mocha": true
    },
    
    "parserOptions": {
       "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
     },

    "rules": {
      "comma-dangle": [
        "error",
        "only-multiline"
      ],
      "react/prop-types": [
          "off"
      ],
      "react/prefer-stateless-function": [
          "warn"
      ],
      "no-unused-expressions": 0
    }
}
